.visitor-reg-body {
    max-height: 200vh;
    margin-top: 180px;
    padding-bottom: 50px;
}

.regContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 20px; 
    background: #fff;
    width: 800px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    box-shadow: 0 0 15px #d0cb90;
}

.text {
    text-align: center;
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
    margin-top: 30px;
}

.underline {
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;

}

.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    background: #eaeaea;
    border-radius: 10px;
    padding: 10px;
}

.input img {
    margin: 0px 30px;
}

.input input,
.input select,
.input textarea {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submit-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.submit:hover {
    background-color: #7e57c2;
}

.text-danger {
    color: red;
}

.alert-success {
    text-align: center;
    margin-top: 20px;
}
label {
    font-weight: bold;
}