.table-body{
  min-height: 100vh;
  margin-top: 180px;
}
.searchBar {
  width: 300px;
  margin-left: 68px;
}
.search-bar{
  border-radius: 20px;
  padding-left: 20px;
}
.user-table {
  margin-top: 20px; 
  padding-bottom: 60px; 
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
.highlight {
  background-color: yellow;
  font-weight: bold;
}
.load-more {
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    border-color: #4c00b4;
}
.load-more:hover {
  background-color: #7e57c2;
  border-color: #7e57c2;
}